.App {
  text-align: center;
}
body{
  background-image:url("../img/fondo2.jpg") ;
  background-size: cover;
  background-position:center center ;
  background-attachment: fixed;
}

.row {
  display: flex;
  justify-content: center;
}
